###### all ignore ######
/*
/.*
/.*/*
/.*/*/*

###### not ignore list ######
!/.bashrc
!/.bashrc
!/.bash_profile
!/.dircolors
!/.inputrc
!/.zshrc
# vim setting file
!/.vim/
!/.vimrc
# exec directory
!/.bin/
!/.bin/*
!/.bin/completion/
!/.bin/completion/*
!/.bin/bash_completion.d/
!/.bin/bash_completion.d/*
!/bin/
!/bin/*
!/bin/completion/
!/bin/completion/*
!/bin/bash_completion.d/
!/bin/bash_completion.d/*
# pplication setting file
!/.screenrc
!/.screen/
!/.tmux.conf
!/.tmux.conf.local
# etc
!/.config/
!/.config/*
!/.config/*/
!/.config/nvim/
!/.config/nvim/.*
!/.config/nvim/colors/
!/.config/nvim/colors/.*
!/.config/*/*
!/.config/*/*/
!/.config/*/*/*
!/.config/*/*/*/
!/.config/*/*/*/*
!/.gdbinit
!/README.md

###### ignore list ######
*.swp

###### final not ignore list ######
!.gitignore
!.gitkeep
