# --- System & Logs ---
.DS_Store
.install.lock
*.swp
*.bak
*.log
.history/

# --- Private Configs ---
.user_config/
.ssh/
.netrc
.gitconfig.local
.zshrc-local

# --- Editor & IDE ---
.idea/

# --- Language & Runtime Caches ---
node_modules/
dist/
build/
.mise/
.python-version
__pycache__/

# --- Application Caches (Noise) ---
.config/configstore/
.config/gh/
.config/coc/
.config/yarn/

# iTerm2 Noise
.config/iterm2/

# --- Tmux Plugins (Managed by TPM) ---
tmux/.config/tmux/plugins/
